<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.julianriemersma.alfred-github-projects</string>
	<key>connections</key>
	<dict>
		<key>15C3AE13-CB48-4CC6-B64A-C06FBD125516</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A21CA82-3CD3-4F2A-9E7E-8DBDD22F99CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19349FF9-A6A4-4D6A-ADBA-3F3092F9E727</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBD79FE5-D671-40AB-A1EE-AEBE941E2FCB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open URL in Safari</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BADFD34D-4451-4F86-BE80-F75013F061A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19B6C369-1FFD-4C84-AAB6-B9F9947449EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51984D16-ABE2-40FA-A19D-C5EBA5F51DA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EC796BE6-24AA-46E5-85FA-DACA9FC8A8FE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE39CD1A-CA05-484C-B5C3-559C234F5A21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>381B37AB-78A2-43C6-9D32-878D4A81B5B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B59839B-A868-4F5C-8A93-5AFD865D55AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51984D16-ABE2-40FA-A19D-C5EBA5F51DA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CD397CC-5004-4A30-A5CF-D1EFDE1DEF5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>72D9F53C-2F43-447A-8012-CA07801C1407</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBD79FE5-D671-40AB-A1EE-AEBE941E2FCB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open URL in Safari</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BADFD34D-4451-4F86-BE80-F75013F061A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CD397CC-5004-4A30-A5CF-D1EFDE1DEF5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB1DEBFD-3428-47F8-934F-8B953D9EDB14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A21CA82-3CD3-4F2A-9E7E-8DBDD22F99CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19B6C369-1FFD-4C84-AAB6-B9F9947449EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BADFD34D-4451-4F86-BE80-F75013F061A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15C3AE13-CB48-4CC6-B64A-C06FBD125516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1C4E73B-1758-44B6-9432-F9B0865AAAA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBD79FE5-D671-40AB-A1EE-AEBE941E2FCB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open URL in Safari</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BADFD34D-4451-4F86-BE80-F75013F061A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Julian Riemersma</string>
	<key>description</key>
	<string>Easily clone or open any GitHub repository and open with Visual Studio Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Repo project manager + VSCode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh-notifications</string>
				<key>subtext</key>
				<string>https://github.com/notifications</string>
				<key>text</key>
				<string>Open your GitHub notifications page</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>381B37AB-78A2-43C6-9D32-878D4A81B5B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:GITHUB_HOST}/notifications</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7B59839B-A868-4F5C-8A93-5AFD865D55AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BBD79FE5-D671-40AB-A1EE-AEBE941E2FCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>repo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results...</string>
				<key>script</key>
				<string>apps/cli user-repos $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>For example: Hello-World</string>
				<key>title</key>
				<string>Search for a repository in your GitHub account</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1C4E73B-1758-44B6-9432-F9B0865AAAA6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results...</string>
				<key>script</key>
				<string>apps/cli user-pulls $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Use `gh` or `repo` to search for repositories</string>
				<key>title</key>
				<string>Search for a pull request in your GitHub account</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19349FF9-A6A4-4D6A-ADBA-3F3092F9E727</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./find-project ${url}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>15C3AE13-CB48-4CC6-B64A-C06FBD125516</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching results...</string>
				<key>script</key>
				<string>apps/cli search $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Use `repo` instead of `gh` to only search within your own repos</string>
				<key>title</key>
				<string>Search for a repository in GitHub</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72D9F53C-2F43-447A-8012-CA07801C1407</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BADFD34D-4451-4F86-BE80-F75013F061A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading directories...</string>
				<key>script</key>
				<string>./run-node lib/commands/directories.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pick a directory to clone project in</string>
				<key>title</key>
				<string>Pick a directory...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51984D16-ABE2-40FA-A19D-C5EBA5F51DA0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:project}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Clone</string>
						<key>uid</key>
						<string>EC796BE6-24AA-46E5-85FA-DACA9FC8A8FE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open existing project</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>19B6C369-1FFD-4C84-AAB6-B9F9947449EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A21CA82-3CD3-4F2A-9E7E-8DBDD22F99CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>directory</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8CD397CC-5004-4A30-A5CF-D1EFDE1DEF5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Cloning project in `{var:directory}` and opening in Visual Studio Code</string>
				<key>script</key>
				<string>./open-project -c ${url} -d ${directory}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Cloning project in `{var:directory}` and opening in Visual Studio Code</string>
				<key>title</key>
				<string>Cloning project...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DB1DEBFD-3428-47F8-934F-8B953D9EDB14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Opening existing project `{var:project}`</string>
				<key>script</key>
				<string>./open-project -d ${project}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Opening existing project `{var:project}`</string>
				<key>title</key>
				<string>Opening existing project...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE39CD1A-CA05-484C-B5C3-559C234F5A21</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># GitHub Repo project manager workflow for Alfred

This fork enables you to automatically search and clone any GitHub repository via the GitHub Search API and open the project with Visual Studio Code. If you already have a local version of the selected GitHub repository, that directory will be opened.

## Authentication

You'll need to authenticate with a personal access token that you can generate in the GitHub developer settings page.
[Generate token here](https://github.com/settings/tokens/new?description=GitHub%20Repos%20Alfred%20workflow&amp;scopes=repo)

Simply copy and paste this token into the user configuration.

## Usage

Here's the list of available commands.

### Global Search: `gh &lt;query&gt;`


The example above will search for repositories with the string "hello-world" in their name. Internally this uses the GitHub Search syntax, so you can use modifiers like:

  gh hello-world stars:&gt;100

This will search only in repositories that have more than 100 stars.

&gt; Please note that this command only searches in the repository name. This means that your query will be appended with the `in:name` modifier. So when you type in `hello-world`, the final search query sent will be: "hello-world in:name".

### Search within your repositories: `repo [query]`

This command works the same as the main one (`repo &lt;query&gt;`) but it limits the search to your own repositories.

&gt; This includes repositories from your organizations as well.

### Search Pull Requests: `pr [query]`

This command searches within the Pull Requests that you're involved in.


### Open notifications: `gh-notifications`

This command just opens your GitHub notification page.


## Configuring host for Enterprise

If you're using an Enterprise account, you can configure a custom api host in the user configuration.

---

## Bug Reports or requests

You can submit your bug reports or feature requests at:

https://github.com/AppelBoomHD/alfred-github-projects/issues</string>
	<key>uidata</key>
	<dict>
		<key>15C3AE13-CB48-4CC6-B64A-C06FBD125516</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>19349FF9-A6A4-4D6A-ADBA-3F3092F9E727</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>19B6C369-1FFD-4C84-AAB6-B9F9947449EB</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>381B37AB-78A2-43C6-9D32-878D4A81B5B5</key>
		<dict>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>51984D16-ABE2-40FA-A19D-C5EBA5F51DA0</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>72D9F53C-2F43-447A-8012-CA07801C1407</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>7B59839B-A868-4F5C-8A93-5AFD865D55AE</key>
		<dict>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>8CD397CC-5004-4A30-A5CF-D1EFDE1DEF5C</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>9A21CA82-3CD3-4F2A-9E7E-8DBDD22F99CB</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>BADFD34D-4451-4F86-BE80-F75013F061A7</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>BBD79FE5-D671-40AB-A1EE-AEBE941E2FCB</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>BE39CD1A-CA05-484C-B5C3-559C234F5A21</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>DB1DEBFD-3428-47F8-934F-8B953D9EDB14</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>E1C4E73B-1758-44B6-9432-F9B0865AAAA6</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>ghp_</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub access token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_ACCESS_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Developer</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Project directory</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>PROJECT_DIR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>True</string>
			</dict>
			<key>description</key>
			<string>Include option to pick projects subdirectory</string>
			<key>label</key>
			<string>Include subdirectories</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>INC_SUBDIRS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>www.github.com</string>
				<key>placeholder</key>
				<string>www.github.com</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub host</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_HOST</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>api.github.com</string>
				<key>placeholder</key>
				<string>api.github.com</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub API host</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_API_HOST</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>True</string>
			</dict>
			<key>description</key>
			<string>If unchecked, only shows PR's in your organizations</string>
			<key>label</key>
			<string>Show all PR's your involved in</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>PR_ALL_INVOLVE_ME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>@me</string>
				<key>placeholder</key>
				<string>@me</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub me account name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_ME_ACCOUNT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>86400</string>
				<key>placeholder</key>
				<string>86400</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>TTL for repositories (in seconds)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CACHE_TTL_SEC_REPO</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>86400</string>
				<key>placeholder</key>
				<string>86400</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>TTL for organizations (in seconds)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CACHE_TTL_SEC_ORG</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>300</string>
				<key>placeholder</key>
				<string>300</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>TTL for PR's (in seconds)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CACHE_TTL_SEC_PR</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/AppelBoomHD/alfred-github-projects</string>
</dict>
</plist>
